@model IEnumerable<MVC4.Btpsmvc>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SelectAllData</title>
</head>
<body>
    <div>
        <h1>
            @ViewBag.info
        </h1>
        @Html.ActionLink("LogOut","LogOut","Login")
        <p>
            @Html.ActionLink("Create New", "DataInsert")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "UpdateData", new { id = item.id }) |
                        @Html.ActionLink("Details", "GetData", new { id = item.id }) |
                        @Html.ActionLink("Delete", "DeleteData", new { id = item.id }, new { onclick = "return confirm('Are you sure you want to delete this item?');" })|
                        @Html.ActionLink("Email", "Email", new { id = item.id })
                    </td>
                </tr>
            }
        </table>
        <script src="~/Scripts/bootstrap.js"></script>
    </div>
</body>
</html>
